<div>
    <h2 id="page-heading">
        <fa-icon [icon]="faUsers"></fa-icon>
        <span jhiTranslate="sparkMeApp.retea.home.title">Reteas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-retea" [routerLink]="['/retea/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sparkMeApp.retea.home.createLabel">
            Create a new Retea
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reteas?.length === 0">
        <span jhiTranslate="sparkMeApp.retea.home.notFound">No reteas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reteas && reteas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="denumire"><span jhiTranslate="sparkMeApp.retea.denumire">Denumire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriere"><span jhiTranslate="sparkMeApp.retea.descriere">Descriere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let retea of reteas ;trackBy: trackId">
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['/retea', retea.id, 'view']">{{ retea.id }}</a></td>
                    <td>{{ retea.denumire }}</td>
                    <td>{{ retea.descriere }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/retea', retea.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/retea', retea.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(retea)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
